<app-content-header *ngIf="product; else notFound" title="Product Detail" rootPath="Home" [subPath]="product.title">
</app-content-header>

<ng-template #notFound>
    <app-content-header title="Product Detail" rootPath="Home">
    </app-content-header>
</ng-template>

<div *ngIf="message" class="row">

    <div class="col-md-12">
        <div class="card card-warning ">
            <div class="card-header">
                <h3 class="card-title">Not Found!</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{message}}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- Default box -->
<div *ngIf="product" class="card card-solid">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                <div class="col-12">
                    <img src="../../../assets/img/prod-1.jpg" class="product-image" alt="Product Image">
                </div>
                <div class="col-12 product-image-thumbs">
                    <div class="product-image-thumb active"><img src="../../../assets/img/prod-1.jpg"
                            alt="Product Image">
                    </div>
                    <div class="product-image-thumb"><img src="../../../assets/img/prod-2.jpg" alt="Product Image">
                    </div>
                    <div class="product-image-thumb"><img src="../../../assets/img/prod-3.jpg" alt="Product Image">
                    </div>
                    <div class="product-image-thumb"><img src="../../../assets/img/prod-4.jpg" alt="Product Image">
                    </div>
                    <div class="product-image-thumb"><img src="../../../assets/img/prod-5.jpg" alt="Product Image">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="my-3">{{product.title}}</h3>
                <p>{{product.creationDate | date:'medium'}}</p>

                <hr>
                <h4>Available Quantity</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-default text-center active">
                        <input type="radio" name="color_option" id="color_option1" autocomplete="off" checked="">
                        {{product.quantity}}
                        <br>
                        <i class="fas fa-circle fa-2x text-green"></i>
                    </label>

                </div>

                <div class="bg-gray py-2 px-3 mt-4">
                    <h2 class="mb-0">
                        {{product.price |currency}}
                    </h2>
                    <h4 class="mt-0">
                        <small>50% Saving </small>
                    </h4>
                </div>

                <div class="mt-4">
                    <div class="btn btn-primary btn-lg btn-flat">
                        <i class="fas fa-cart-plus fa-lg mr-2"></i>
                        Add to Cart
                    </div>

                    <div class="btn btn-default btn-lg btn-flat">
                        <i class="fas fa-heart fa-lg mr-2"></i>
                        Add to Wishlist
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-4">
            <nav class="w-100">
                <div class="nav nav-tabs" id="product-tab" role="tablist">
                    <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                        role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                    <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments"
                        role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>

                </div>
            </nav>
            <div class="tab-content p-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                    aria-labelledby="product-desc-tab">{{product.description}}</div>
                <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                    {{product.description}}</div>

            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->