<div class="login-page">
    <div class=" login-box">
        <div class="login-logo">
            <a routerLink="/"><b>Syrian</b>Shop</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start with us</p>

                <form #loginForm="ngForm" (ngSubmit)="onSignInSubmit(loginForm)">
                    <div class="input-group mb-3">
                        <input id="title" name="name" #name="ngModel" [(ngModel)]="userDto.name" type="text"
                            class="form-control" placeholder="User Name" required minlength=3>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                        <div *ngIf="name.errors.required">
                            Name is required
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name min length is 3
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input name="password" #password="ngModel" [(ngModel)]="userDto.password" type="password"
                            class="form-control" placeholder="Password" required minlength="5">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                        <div *ngIf="password.errors.required">
                            password is required
                        </div>
                        <div *ngIf="password.errors.minlength">
                            password min length is 5
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Sign
                                In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Google
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a routerLink="/forget-password">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a routerLink="/register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>